2015з@╖~1бG┴╩кл▓M│ц▓ге═╛╣
┐щдJж│жhд╓░╙л~║╪├■бA┐щдJж│жhд╓╖|н√бC
┐щдJ┴╩кл▓M│цддж▄д╓дз░╙л~╝╞╢qбA┐щдJ┴╩кл▓M│цддж▄жhдз░╙л~╝╞╢qбC
┐щдJ┴╩кл▓M│цдд░╙л~мOз_еiеHнл╜╞еX▓{бC
┐щеXж│жhд╓еiпр┴╩кл▓M│цб]д╜жб╕╤╡кб^бA┐щеXй╥ж│еiпр┴╩кл▓M│цбC
и╥жp:
┐щдJж│жhд╓░╙л~║╪├■бG3
┐щдJж│жhд╓╖|н√бG2
┐щдJ┴╩кл▓M│цддж▄д╓дз░╙л~╝╞╢qбG1
┐щдJ┴╩кл▓M│цддж▄жhдз░╙л~╝╞╢qбG2
┐щдJ┴╩кл▓M│цдд░╙л~мOз_еiеHнл╜╞еX▓{бGY

┐щеX 
18
{л╚1,л~1},{л╚1,л~2},{л╚1,л~3},{л╚1,л~1,л~1},{л╚1,л~1,л~2},{л╚1,л~1,л~3},{л╚1,л~2,л~2},{л╚1,л~2,л~3},{л╚1,л~3,л~3}, {л╚2,л~1},{л╚2,л~2},{л╚2,л~3},{л╚2,л~1,л~1},{л╚2,л~1,л~2},{л╚2,л~1,л~3},{л╚2,л~2,л~2},{л╚2,л~2,л~3},{л╚2,л~3,л~3}

2015з@╖~2бG┴╩кл│Wлh│╠и╬д╞
[┐щдJ] й╡─Є2015з@╖~1бG┴╩кл▓M│ц▓ге═╛╣бAж¤│oж╕е[дW└H╛ў┐я╛▄│беў╖э┐щдJбC
[┐щеX] й╥┐я╛▄┴╩кл▓M│цбCжsжид@н╙└╔бC
[┐щдJ] мY┴╩кл▓M│ц└╔бC
[┐щеX] и╠┐щдJ└╔дз┴╩кл▓M│ц▓ге═дз┴╩кл│WлhбC
[┐щдJ] е╪лeмY╖|н√дз┴╩кл▓M│цбC
[┐щеX] ╣w┤·╕╙╖|н√дзеiпр╝Wе[┴╩╢R╢╡е╪бA░eеX▒└┬╦╝sзiбC
жpжє╢iжц│╠и╬д╞│Wлhнp║тм░╢}йё░▌├DбAжP╛╟еiжUж█╡o┤з╢iжц│°зiбC
│╠и╬д╞е╪╝╨│]йwм░бy╣B║т╜╞┬°л╫бzбCи╥жpбGдё╣яжhд╓ж╕бANOT/AND/OR╣B║тжhд╓ж╕бAеH╣B║тж╕╝╞│╠д╓м░─╣бC

и╥жp:
жp2015з@╖~1бG┴╩кл▓M│ц▓ге═╛╣бA▓ге═й╥ж│┴╩кл▓M│цбC
┐щдJ└H╛ў┐я╛▄┴╩кл▓M│ц╝╞╢qбG3
┐щеXй╥┐я╛▄┴╩кл▓M│цбG
▓M│ц1=л╚1,л~1,л~2
▓M│ц2=л╚1,л~2,л~3
▓M│ц3=л╚2,л~1,л~3
жsиьbuy1.txt
┼кдJbuy1.txt
┐щеXи╠еHдW┴╩кл▓M│ц▓ге═дз┴╩кл│WлhбGл╚1*л~1->л~2, л╚1*л~2->л~1, л╚1*л~3->л~2, л╚1*л~2->л~3, л╚2*л~1->л~3, л╚2*л~3->л~1
┐щдJмY╖|н√дз┴╩кл▓M│цбG{л╚1,л~3}
┐щеX╕╙╖|н√дзеiпр╝Wе[┴╩╢R╢╡е╪бGл~2 
е¤╗бй·│Wлhдзнp║тжpжє╢iжц│╠и╬д╞бH
░▓│]й╥е╬м░┤`з╟дё╣ябAлhдё╣я┐щдJбил╚1би╡Mлсбил~3бибAнnдё╣я6ж╕д~╣яиьл╚1*л~3->л~2бA╣w┤·╕╙╖|н√еiпр╝Wе[┴╩╢R╢╡е╪бил~2бибA░eеX▒└┬╦╝sзiбC
еiлфж╥жp╕╙╖|н√╜Tйw╝Wе[┴╩╢R╢╡е╪бил~2бибAлhдS╖|жpжєбH

дjоaн▒лeк║░▌├D│гиS╜═иьжpжє│╠и╬д╞, иф╣ъ│oд~мO│╠├°к║░▌├D. й╥еHж╤оvжh╡╣д@н╙и╥дl╜╨дjоa╖Q╖Q.

┐щеXй╥┐я╛▄┴╩кл▓M│цбG

▓M│ц1=л╚1,л~100,л~200

▓M│ц2=л╚1,л~200,л~3

▓M│ц3=л╚2,л~1,л~3

▓M│ц4=л╚2,л~100,л~200

▓M│ц5=л╚3,л~2,л~3

▓M│ц6=л╚3,л~1,л~3

▓M│ц7=л╚3,л~100,л~200

▓M│ц8=л╚4,л~200,л~3

▓M│ц9=л╚4,л~100,л~200

жsиьbuy2.txt

┼кдJbuy2.txt

┐щеXи╠еHдW┴╩кл▓M│ц▓ге═дз┴╩кл│WлhбG

┐щдJмY╖|н√дз┴╩кл▓M│цбG{л╚4,л~100}

┐щеX╕╙╖|н√дзеiпр╝Wе[┴╩╢R╢╡е╪бG

е¤╗бй·│Wлhдзнp║тжpжє╢iжц│╠и╬д╞бH

жpд╡д╤й╥л┼зGбAдU╢gецPRJ2&дpж╥бCPRJ2ж╥╝{possibilityж╙лDprobabilityбAеuнnж│еiпр┤NеiеH▒└┬╦бAнл┬Iжbнn╗бй·╕ъо╞╡▓║c╗P│Wлh▒└╜╫дшжббAжpжєи╧┼▐┐ш▒└╜╫└uд╞б]│╠з╓▒└╜╫еXи╙б^бC╜╨ж^╡кбG╖эзA▒└┬╦╢Rклл~2ж╙л╚дслoж^╡кбyдг╢RбzбAжpжє▒└╜╫ифеL▒└┬╦бH

2015з@╖~3бG┴╩клдз▒°еє╛ў▓v
й╡─Є2015з@╖~2бAеiе╤╣Lеhдз┴╩кл▓M│цм░░V╜m╕ъо╞╢░бA▓ге═м█├Ў┴╩кл│WлhбC
[┐щдJ] жpз@╖~2пр▓ге═░V╜m╕ъо╞╢░дз┴╩кл▓M│цбAжsжид@н╙CSVоцжб└╔бCи├пр┼кдJ░V╜m╕ъо╞╢░дз┴╩кл▓M│цCSV└╔бC┤·╕╒о╔еh┼ки·лeд@жьжP╛╟▓ге═дзCSV└╔░╡┼ч├╥бC
[┐щеX] и╠┐щдJ└╔дз┴╩кл▓M│ц▓ге═▓ге═м█├Ў┴╩кл│Wлh╗P╣я└│╛ў▓vбC╜╨║теXбG(1)л~j│Qл╚i╢Rк║╛ў▓vн╚бA(2)л╚i╢Rл~jк║╛ў▓vн╚бC╜╨е╤ж╣╢l▒H╝sзi╡╣л╚iбA▒└┬╦дTеєл╚i┴╩╢R╛ў▓v│╠░кк║░╙л~бC
░▓│]дwк╛е╪лeл╚xк║┴╩╢Rклл~╢░жXм░{л~y}бA╜╨║теX▒╡дUи╙бG(3)л~z│Qл╚x╢Rк║╛ў▓vн╚бA(4)л╚x╢Rл~zк║╛ў▓vн╚бC╜╨╜uдWзYо╔▒└┬╦л╚xдTеєеL┴╩╢R╛ў▓v│╠░кк║░╙л~бC
╡√д└нл┬Iжb╗бй·╛ў▓vмOжpжє║теXбC

еiж╥╝{╝Wе[е\прбG
Г▄	еi│]йwдгжP┼Uл╚╣ядгжPклл~к║┴╩╢R╛ў▓vд└зGдгжPбCе╤ж╣и╙▓ге═зє╣ъе╬к║░V╜m┴╩кл▓M│цбC
Г▄	еi│]йwдгжP░╙л~к║└ЄзQн╚дгжPбAеZ╡nдjдpк║о─е╬╗P╝sзi╢OдгжPбCз╞▒ц│╠дjд╞└ЄзQ╛ў▓vб]└ЄзQн╚*┴╩╢R╛ў▓vб^бC
Г▄	иCд@┼Uл╚ж│жhж╕к║┴╩кл▓M│цбAд└дгжPдщ┤┴о╔╢ббAжpе═дщбB╣L╕`бB╢g┤┴▒─┴╩бCзто╔╢бж]п└ж╥╝{╢iи╙бC
Г▄	д└╕sбGзфеX╗Pл╚xж│├■ж№┴╩клжцм░б]┴╩кл▓M│цб^к║┼Uл╚╢░жXбA║┘м░бyл╚╕sxбzбCзяе╤л╚╕sxеh╣w┤·л╚x┴╩╢R╛ў▓v│╠░кк║░╙л~бC
Г▄	л╚xк║е╪лe┴╩╢Rклл~╢░жXеiзtжhеєклл~бAжp{л~p,л~q,л~r}бAжPо╔и╙╣w┤·л╚x┴╩╢R╛ў▓v│╠░кк║░╙л~бC
